$grid-columns:12;
$grid-mix-width:65em;

$breakpoint-small : "only screen and (min-width: 20em)";
$breakpoint-medium : "only screen and (min-width: 30em)";
$breakpoint-mobile : "(min-width: 480px)";
$breakpoint-tablet : "only screen and (min-width: 786px)";
